.form{
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	gap:26px;
	width: 840px;
	height: 600px;
}

.btnSave{
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #449255;
	color:#fff;
	width: 373px;
	height: 98px;
	font-size: 48px;
	border-radius: 20px;
	align-self: center;
}

.btnSave:hover{
	background-color: #449255 !important;
	color:#fff !important;
	border: 0 solid #449255;
	opacity: 0.7;
}