.item .ant-form-item-control-input-content{
	display: flex !important;
}

.label{
	margin-right: 23px;
	font-size: 48px;
	color: #fff;
}

.input{
	width: 616px;
	height: 74px;
	font-size: 26px;
	color: #60AF76 !important;
	border-radius:22px;
}

input.input::placeholder{
	color: #60AF76 !important;
}

input.input:hover{
	border:1px solid #75D28F !important;
	background-color: #fff !important;
}

input.input:active{
	border:1px solid #75D28F !important;
	background-color: #fff !important;
}

input.input:checked{
	border:1px solid #75D28F !important;
	background-color: #fff !important;
}