.search{
	width: 616px;
	height: 74px;
	font-size: 26px;
	color: #60AF76 !important;
	border-radius:22px;
	align-self: center;
}

input.search::placeholder{
	color: #60AF76 !important;
}

input.search:hover{
	border:1px solid #75D28F !important;
	background-color: #fff !important;
}

input.search:active{
	border:1px solid #75D28F !important;
	background-color: #fff !important;
}

input.search:checked{
	border:1px solid #75D28F !important;
	background-color: #fff !important;
}